.redred{
    color:#c20a1f;
}
.blueblue{
    color:#3f7cd1;
}
p.redred{
    color:red;
    font-size: 40px;
    text-align: left;
    text-indent: 3em;
}
.aquaaqua{
    color:aqua
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    }
*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
.exp_icon{
    color:aqua
}
.edu_icon{
    color:gold
}   
ul.sp{
   list-style-type: square;
}

.shape-ex1{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all .3s linear;
}
.shape-ex1:hover{
    color:palevioletred;
}

.kenny{
    background-color: aqua;
    border-radius: 10px;
}
.cc{
    font-family: serif;
}