.redred{
    color:red;
}
.blueblue{
    color:blue;
}
p.redred{
    color:red;
    font-size: 40px;
    text-align: left;
    text-indent: 3em;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    }
*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
   
    
    